.DS_Store

application/cache/*
!application/cache/index.html
assets/*
application/logs/*
!application/logs/index.html
hasil/*.docx
hasil/surat_masuk/*
hasil/surat_keluar/*
!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

vendor
logo/*
!logo/index.html

hasil/*
!ahsil/surat_keluar/index.html
!ahsil/surat_masuk/index.html

assets/*
.DS_Store

application/cache/*
!application/cache/index.html
assets/*
application/logs/*
!application/logs/index.html
hasil/*.docx
hasil/surat_masuk/*
hasil/surat_keluar/*
!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

vendor
logo/*
!logo/index.html

hasil/*
!hasil/surat_keluar/index.html
!hasil/surat_masuk/index.html
!hasil/index.html

assets/*
!assets/ardi.png
!assets/logo_basic.png
!assets/sample_dasar_hukum.png
!assets/sample_menimbang.png
!assets/sample_pegawai.png
!assets/sample_untuk.png
!assets/siardi.png
!assets/images/login.png
!assets/favicon
!assets/favicon_mobile

.env